<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="common_resources">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
    <link  type="text/css" th:href="@{/css/bootstrap/bootstrap-responsive.css}" rel="stylesheet"/>
    <link  type="text/css" th:href="@{/css/datepicker/jquery.datetimepicker.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datepicker/jquery.datetimepicker.full.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/consumption/consumption.js}"></script>
</th:block>
</body>
</html>