<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询</title>
</head>
<body>
<div id="queryCondition" th:fragment="query_condition">
    <div class="form-group">
        <label>开始日期</label>
        <input id="start_date" type="text" th:name="begin"
               th:value="${condition} == null ? ${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')} : ${#dates.format(condition.begin, 'yyyy-MM-dd')}"
               class="form-control">
    </div>
    <div class="form-group">
        <label>结束日期</label>
        <input id="end_date" type="text" th:name="end"
               th:value="${condition} == null ? ${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')} : ${#dates.format(condition.end, 'yyyy-MM-dd')}"
               class="form-control">
    </div>
    <div class="form-group">
        <label>消费类型</label>
        <select th:name="consumptionType.id" class="form-control">
            <option th:each="item:${consumptionTypes}" th:value="${item.id}" th:text="${item.name}"
                    th:selected="${condition.consumptionType.id} eq ${item.id}"></option>
            <option value="-1" th:selected="${condition.consumptionType.id == -1}">所有</option>
        </select>
    </div>
    <div class="form-group">
        <label>支付方式</label>
        <select th:name="payType.id" class="form-control">
            <option th:each="item:${payTypes}" th:value="${item.id}" th:text="${item.name}"
                    th:selected="${condition.payType.id} eq ${item.id}"></option>
            <option value="-1" th:selected="${condition.payType.id == -1}">所有</option>
        </select>
    </div>
    <input th:value="${condition.page}" th:name="page" id="page" type="hidden">
    <input type="button" value="查询" id="query" class="btn">
</div>
</body>
</html>