
table {
    margin: auto;
    text-align: center;
}

table, tr, td, th {
    padding: 3px;
    margin: 0;
}

table tr {
    line-height: 30px;
}

table th {
    background-color: #5fb878;
}

table tbody tr:nth-child(odd) {
    background: #cccccc;
}


div {
    text-align: center;
}

div table {
    margin-left: auto;
    margin-right: auto;
}

#main div {
    margin-top: 5px;
}