table {
     margin-right: auto;
     margin-left: auto;
}

.input {
    height: 25px;
}

.submit {
    height: 30px;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
}

.msg {
    font-weight: bold;
}

.error {
    color: red;
}