<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="common/common::common_resources"></th:block>
</head>
<body>
<div>
    <div th:include="common/menu::main_menu"></div>
    <form action="#" th:action="@{/add}" method="post" th:object="${record}" class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-1 control-label">消费类型</label>
            <div class="col-lg-2">
                <select th:name="consumptionType.id" class="form-control">
                    <option th:each="type:${consumptionTypes}" th:value="${type.id}"
                            th:text="${type.name}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-1">金额</label>
            <div class="col-lg-2">
                <div class="input-group">
                    <input id="inputPassword" th:name="amount"type="text" class="form-control" th:autocomplete="${'off'}">
                    <div class="input-group-addon">￥</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-1">支付方式</label>
            <div class="col-lg-2">
                <select th:name="payType.id" class="form-control">
                    <option th:each="type:${payTypes}" th:value="${type.id}" th:text="${type.name}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-1">日期</label>
            <div class="col-lg-2">
                <input id="consumption_date" type="text" th:name="time" class="form-control" th:value="${#dates.format(new java.util.Date(), 'yyyy-MM-dd')}" th:autocomplete="${'off'}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-1">说明</label>
            <div class="col-lg-2">
                <textarea rows="10" th:name="comment" class="form-control" th:autocomplete="${'off'}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-lg-2" >
                <button type="submit" class="btn">新增</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>