<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome Login</title>
    <th:block th:include="common/common::common_resources"></th:block>
</head>
<body>
<div class="container">
    <form class="form-signin" th:action="@{/login}" method="post" th:object="${account}">
        <h2 class="form-signin-heading">欢迎登录</h2>
        <div class="form-group has-success has-feedback">
            <label class="control-label">Account</label>
            <input type="text" class="form-control" aria-describedby="inputSuccess2Status" name="name">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span class="sr-only">(success)</span>
        </div>
        <div class="form-group has-success has-feedback">
            <label class="control-label">Password</label>
            <input type="password" class="form-control" aria-describedby="inputSuccess2Status" name="password" >
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <span class="sr-only">(success)</span>
        </div>
        <div class="alert alert-warning" role="alert">
            <label th:text="${msg.msg}" class="warning" th:if="${msg != null}"></label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
</div>
</body>
</html>