<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="common/header::common_resources"></th:block>
</head>
<body>
<th:block th:fragment="main_menu">
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <!--<link type="text/css" rel="stylesheet" th:href="@{/css/menu.css}"/>-->
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab1" data-toggle="tab">查询</a>
            </li>
            <li><a href="#tab2" data-toggle="tab">添加</a></li>
            <li><a href="#tab3" data-toggle="tab">统计</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
             <div th:include="listConsumption :: listConsumption"></div>
        </div>
        <div class="tab-pane" id="tab2">
            <div th:include="addConsumptionRecord :: addConsumption"></div>
        </div>
        <div class="tab-pane" id="tab3">
            <div th:include="statisticConsumption :: statistic"></div>
        </div>
    </div>
    <!--<ul>-->
    <!--<li id="query_menu">查询</li>-->
    <!--<li id="add_menu">添加</li>-->
    <!--<li id="statistic_menu">统计</li>-->
    <!--</ul>-->
</th:block>
</body>
</html>