<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="common/common::common_resources"></th:block>
    <script type="text/javascript" th:src="@{/js/echart/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/statistic/consumption.statistic.chart.js}"></script>
</head>
<body>
<div th:include="common/menu::main_menu"></div>
<div class="form-inline">
    <div class="form-group">
        <select id="date_of_year" th:name="date_of_year">
        </select>
        <label class="control-label">年</label>
        <select id="date_of_month" th:name="date_of_month">
        </select>
        <label class="control-label">月</label>
        <input th:type="button" class="button" th:value="确认" id="okButton">
        <!--<input id="date_of_month_year" type="text" th:name="time" class="form-control">-->
    </div>
</div>

<div id="consumption_chart" style="width: 600px; height: 400px">

</div>
</body>
</html>