<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="common/common::common_resources"></th:block>
</head>
<body>
<div>
    <div th:include="common/menu::main_menu"></div>
    <form action="#" th:action="@{/statisticConsumption}" th:object="${condition}" method="post" class="form-inline">
        <div th:include="common/queryCondition :: query_condition"></div>
    </form>
    <div id="result">
        <label th:if="${statisticSum == null or statisticSum.total <= 0 }">
            无消费记录
        </label>
        <div th:if="${statisticSum != null and statisticSum.total > 0}">
            <table class="table table-striped table-hover">
                <thead>
                <th>编号</th>
                <th>消费类型</th>
                <th>支付类型</th>
                <th>总额</th>
                </thead>
                <tbody>
                <tr th:each="item,itemStat:${statisticList}">
                    <td th:text="${itemStat.index+1}"></td>
                    <td th:text="${item.consumptionType.name}"></td>
                    <td th:text="${item.payType.name}"></td>
                    <td th:text="${#numbers.formatDecimal(item.total, 0, 2)}"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td th:text="'总计'"></td>
                    <td></td>
                    <td></td>
                    <td th:text="${#numbers.formatDecimal(statisticSum.total, 0, 2)}"></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</body>
</html>