<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiger.consumption.manager.dao.AccountDao">
    <resultMap id="account" type="com.tiger.consumption.manager.model.Account">
        <result column="name" property="name"/>
        <result column="pwd" property="password"/>
        <result column="email" property="email"/>
        <result column="phone" property="phoneNumber"/>
    </resultMap>

    <select id="findByName" resultMap="account" parameterType="string">
        select `name`, `pwd`, `email`, `phone` from account where name = #{name}
    </select>
</mapper>